*.sublime-workspace
__pycache__
.pytest_cache
db.db
report.html
assets/*
.mypy_cache
.pytype
screenshots/
*.log
*.pid
*.bin
*.pkl
.webassets-cache
node_modules/
.env

.bento/cache
token.txt
media_token.txt

.yarn
.envrc
.idea
