[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"
pdbpp = "*"
responses = "*"
lxml = "*"
selenium = "*"
pytest-html = "*"
pytest-flask = "*"
pytest-selenium = "*"
webdriver-manager = "*"
pre-commit = "*"
sqlalchemy-stubs = "*"
snapshottest = "*"

[packages]
flask = "*"
requests = "*"
sqlalchemy = "*"
sqlalchemy-repr = "*"
flask-sqlalchemy = "*"
aiohttp = "*"
requests-toolbelt = "*"
backoff = "*"
gunicorn = "*"
psycopg2-binary = "*"
dataclasses-json = "*"
flask-user = "*"
dill = "*"
pika = "*"
flask-admin = "*"
flask-jsontools = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
alembic = "*"
plexapi = "*"
flask-cors = "*"
flask-restx = "*"
werkzeug = "==1.*"
apispec = "*"
flask-login = "==0.5.0"
appdynamics = "*"
appdynamics-bindeps-linux-x64 = "*"
appdynamics-proxysupport-linux-x64 = "*"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
cachetools = "*"
lxml = "*"
bs4 = "*"
flask-socketio = "*"
timber = "*"

[requires]
python_version = "3.8"
