[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"
pdbpp = "*"
responses = "*"
lxml = "*"
selenium = "*"
pytest-html = "*"
pytest-flask = "*"
pytest-selenium = "*"
webdriver-manager = "*"
pre-commit = "*"
sqlalchemy-stubs = "*"
snapshottest = "*"
black = {git = "https://github.com/psf/black"}
flake8 = "*"
mypy = "*"
factory-boy = "*"
isort = "*"
pytest-asyncio = "*"
async-asgi-testclient = "*"
rich-sparklines = "*"

[packages]
flask = "*"
requests = "*"
sqlalchemy = "*"
sqlalchemy-repr = "*"
flask-sqlalchemy = "*"
aiohttp = "*"
requests-toolbelt = "*"
backoff = "*"
gunicorn = {extras = ["gevent"], version = "*"}
psycopg2-binary = "*"
dataclasses-json = "*"
flask-user = "*"
flask-admin = "*"
flask-jsontools = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
alembic = "*"
plexapi = "*"
flask-cors = "*"
werkzeug = "==1.*"
flask-login = "==0.5.0"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
cachetools = "*"
lxml = "*"
bs4 = "*"
flask-socketio = "*"
timber = "*"
eventlet = "*"
email-validator = "*"
mause-rpc = "*"
py-healthcheck = "*"
cffi = "*"
fastapi = "*"
python-multipart = "*"
jwkaas = "*"
aniso8601 = "*"
pytz = "*"
uvicorn = "*"
aiofiles = "*"
fastapi-utils = "*"
makefun = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
