[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"
pdbpp = "*"
responses = "*"
lxml = "*"
selenium = "*"
pytest-html = "*"
pytest-flask = "*"
pytest-selenium = "*"
webdriver-manager = "*"

[packages]
flask = "*"
flask-wtf = "*"
requests = "*"
sqlalchemy = "*"
sqlalchemy-repr = "*"
flask-sqlalchemy = "*"
humanize = "*"
aiohttp = "*"
requests-toolbelt = "*"
backoff = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
