{% extends "base.html" %}

{% block title %}Media{% endblock %}

{% block content %}

<h1>Media</h1>

<form method="POST" action="/">
    {{ form.hidden_tag() }}
    <strong>{{ form.query.label }}</strong> {{ form.query(size=20) }}
    <input type="submit" value="Search">
</form>

<div class="colA">
    <h2>Movies</h2>
    <ul>
        {% for movie in movies %}
        <li>
            <!-- <i class="far fa-times-circle"></i> -->
            {{movie.download.title}}
            {{render_progress(torrents, movie) | safe}}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="colB">
    <h2>TV Shows</h2>
    {% for title, seasons in series.items() %}
        <h3>
            {{title}}
<!--             <i class="far fa-plus-square"></i>
            &nbsp;
            <i class="far fa-minus-square"></i> -->
        </h3>

        {% for i in sorted(seasons) %}
            {% set season = seasons[i] %}
            <h4>Season {{ i }}</h4>
            <ol>
            {% for episode in season %}
                <li value="{{episode.episode}}">
                    <!-- <a href="{{ url_for('delete', download_id=episode.download.id) }}"><i class="far fa-times-circle"></i></a> -->
                    {{ episode.download.title }}
                    {{render_progress(torrents, episode) | safe}}
                </li>
            {% endfor %}
            </ol>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}
