{% extends "base.html" %}

{% block header %}Options for "{{display_title}}"{% endblock %}

{% block content %}

{% if auto %}
    <br/>
    <div>
        Auto selection:
        <a
            href="{{build_download_link(auto)}}"
        >{{auto.title}}</a>
        <small>{{auto.seeders}}</small>
    </div>
{% endif %}

{% for category, rset in results %}
<ul>
    <h3>{{category}}</h3>
    {% for option in rset %}
    <li>
        <a
            href="{{build_download_link(option)}}"
        >{{option.title}}</a>
        <small>{{option.seeders}}</small>
    </li>
    {% endfor %}
</ul>
{% else %}
    No results
{% endfor %}

{% endblock %}
