<!DOCTYPE html>
<html>
  <head>
    <title>Media</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/typebase.css/0.5.0/typebase.min.css"
      integrity="sha256-HJn1xZ1bSmXnkRaVhe7ESScylkr3kWn8usJmi6dxCsc="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://vkbansal.github.io/react-contextmenu/styles.034090.css"
    />
    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
    <div id="app"></div>
  </body>

  <script>
    const USER = {
        "username": {{current_user.username | tojson}},
        "id": {{current_user.id | tojson}}
    };
  </script>
  <script src="{{ url_for('static', filename='gen/streaming.js') }}"></script>
</html>
