{% extends "base.html" %}

{% block title %}Media{% endblock %}

{% block nav %}
<a href="http://novell.mause.me:9091" target="_blank">Transmission</a>
<a href="http://novell.mause.me:32400" target="_blank">Plex</a>
<a href="{{ url_for('user.logout') }}">Logout</a>
{% endblock %}

{% block header %}
<h1>Media</h1>
{% endblock %}

{% block content %}
<form method="POST" action="/">
    {{ form.hidden_tag() }}
    <strong>{{ form.query.label }}</strong> {{ form.query(size=20) }}
    <input type="submit" value="Search">
</form>

<div class="colA">
    <h2>Movies</h2>
    <ul>
        {% for movie in movies %}
        <li>
            <!-- <i class="far fa-times-circle"></i> -->
            <span>{{movie.download.title}}</span>
            <small>
                <a
                    target="_blank"
                 href="https://www.imdb.com/title/{{movie.download.imdb_id}}"><i class="fas fa-share"></i></a></small>
            {{render_progress(torrents, movie) | safe}}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="colB">
    <h2>TV Shows</h2>
    {% for serie in series %}
        <h3>
            {{serie.title}}
            <a href="{{ url_for('.select_season', imdb_id=resolve_id(serie.imdb_id)) }}">
                <i class="fas fa-search"></i>
            </a>
        </h3>

        {% for i in sorted(serie.seasons) %}
            {% set season = serie.seasons[i] %}
            <h4>
                Season {{ i }}
                <a href="{{
                url_for(
                    '.select_episode',
                    imdb_id=resolve_id(serie.imdb_id),
                    season=i
                )
                }}">
                    <i class="fas fa-search"></i>
                </a>
            </h4>
            <ol>
            {% for episode in season %}
                <li value="{{episode.episode}}">
                    <a href="{{ url_for('.delete', type='series', id=episode.id) }}"><i class="far fa-times-circle"></i></a>
                    <span>{{ episode.download.title }}</span>
                    {{render_progress(torrents, episode) | safe}}
                </li>
            {% endfor %}
            </ol>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}
