{% extends "base.html" %}

{% block header %}Results for "{{query}}"{% endblock %}

{% block content %}

<ul>
{% for item in results %}
    <li>
        <a href="{{get_url(item)}}">
            {{- item.title }} ({{item.Year}}){{ '' -}}
        </a>
        <small>
            <a
                target="_blank"
                href="{{ url_for('.redirect_to_imdb', type_=item.Type, ident=item.imdbID) }}">
             <i class="fas fa-share"></i>
             </a>
         </small>
    </li>
{% endfor %}
</ul>

{% endblock %}
