{% extends "base.html" %}

{% block header %}
    Options for "{{display_title}}"

    {% if type == 'movie' %}
        <small>
            <a
                target="_blank"
                href="{{ url_for('.redirect_to_imdb', type_=type, ident=imdb_id) }}">
             <i class="fas fa-share"></i>
             </a>
        </small>
    {% endif %}
{% endblock %}

{% block content %}

{% if auto %}
    <br/>
    <div>
        Auto selection:
        <a
            href="{{build_download_link(auto)}}"
        >{{auto.title}}</a>
        <small>{{auto.seeders}}</small>
    </div>
{% endif %}

{% for category, rset in results %}
<ul>
    <h3>{{category}}</h3>
    {% for option in rset %}
    <li>
        <a
            href="{{build_download_link(option)}}"
        >{{option.title}}</a>
        <small>{{option.seeders}}</small>
    </li>
    {% endfor %}
</ul>

<div>
    Otherwise, <a href="{{ manual_link }}">add manually</a>
</div>
{% else %}
    <br/>
    No results.
    <br/>
    <br/>
    Options:
    <ul>
        <li><a href="{{ url_for('.index') }}">Go home</a></li>
        <li><a href="{{ manual_link }}">Add manually</a></li>
        <li><a href="#">Try Nyaa.si</a></li>
    </ul>
{% endfor %}

{% endblock %}
