{% extends "base.html" %}

{% block header %}
Options for "..."
{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.7/system.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.7/extras/amd.js"></script>
    <script type="text/javascript">
        window.init = {{init | safe}};
    </script>
    <script type="systemjs-importmap">
    {
      "imports": {
        {% for bundle in e %}
        "{{bundle.extra.name}}": "{{bundle.urls()[0]}}"{{ "," if not loop.last }}
        {% endfor %}
      }
    }
    </script>
    <script type="systemjs-module" src="import:streaming"></script>

    <div id="app"></div>
{% endblock %}
